In [11]:
from football import Football
football = Football("18d5d82cf17a43d2bb99bdb8b94f6c7a")

In [12]:
competitions = football.competitions()

In [10]:
import os
os.environ["FOOTBALL_API_KEY"] = "18d5d82cf17a43d2bb99bdb8b94f6c7a"

In [14]:
print(competitions)

[<football.models.competition.Competition object at 0x11d842080>, <football.models.competition.Competition object at 0x10ec372e8>, <football.models.competition.Competition object at 0x10fe0a710>, <football.models.competition.Competition object at 0x11cb5e320>, <football.models.competition.Competition object at 0x11041c390>, <football.models.competition.Competition object at 0x10d79e048>, <football.models.competition.Competition object at 0x11d898f98>, <football.models.competition.Competition object at 0x11d898ba8>, <football.models.competition.Competition object at 0x11d898fd0>, <football.models.competition.Competition object at 0x11d898c88>, <football.models.competition.Competition object at 0x11d898da0>, <football.models.competition.Competition object at 0x11d807eb8>, <football.models.competition.Competition object at 0x11d7f6e48>, <football.models.competition.Competition object at 0x11d7f6fd0>, <football.models.competition.Competition object at 0x11d836f98>, <football.models.competition.Competition object at 0x11d836898>, <football.models.competition.Competition object at 0x11d836f60>]

In [15]:
table = football.table("PL")

In [31]:
table.standing

[<football.models.table.Standing at 0x11d9a5748>,
 <football.models.table.Standing at 0x11d9a56a0>,
 <football.models.table.Standing at 0x11d9a55f8>,
 <football.models.table.Standing at 0x11d9a5358>,
 <football.models.table.Standing at 0x11d9a5320>,
 <football.models.table.Standing at 0x11d9a5630>,
 <football.models.table.Standing at 0x11d9a52b0>,
 <football.models.table.Standing at 0x11d9a54a8>,
 <football.models.table.Standing at 0x11d9a5588>,
 <football.models.table.Standing at 0x11d9a5518>,
 <football.models.table.Standing at 0x11d9a5390>,
 <football.models.table.Standing at 0x11d9a5048>,
 <football.models.table.Standing at 0x11d9a5438>,
 <football.models.table.Standing at 0x11d9a52e8>,
 <football.models.table.Standing at 0x11d9a56d8>,
 <football.models.table.Standing at 0x11d9a5550>,
 <football.models.table.Standing at 0x11d9a2eb8>,
 <football.models.table.Standing at 0x11d9a2ef0>,
 <football.models.table.Standing at 0x11d9a2ac8>,
 <football.models.table.Standing at 0x11d9a2c50>]

In [33]:
for i in table.standing:
    print(i.away_form)

{'goals': 45, 'goalsAgainst': 13, 'wins': 16, 'draws': 2, 'losses': 1}
{'goals': 30, 'goalsAgainst': 19, 'wins': 10, 'draws': 4, 'losses': 5}
{'goals': 34, 'goalsAgainst': 20, 'wins': 10, 'draws': 4, 'losses': 5}
{'goals': 39, 'goalsAgainst': 28, 'wins': 9, 'draws': 5, 'losses': 5}
{'goals': 32, 'goalsAgainst': 22, 'wins': 10, 'draws': 3, 'losses': 6}
{'goals': 20, 'goalsAgainst': 31, 'wins': 4, 'draws': 4, 'losses': 11}
{'goals': 20, 'goalsAgainst': 22, 'wins': 7, 'draws': 7, 'losses': 5}
{'goals': 16, 'goalsAgainst': 36, 'wins': 3, 'draws': 6, 'losses': 10}
{'goals': 31, 'goalsAgainst': 38, 'wins': 5, 'draws': 5, 'losses': 9}
{'goals': 18, 'goalsAgainst': 30, 'wins': 4, 'draws': 4, 'losses': 11}
{'goals': 16, 'goalsAgainst': 28, 'wins': 4, 'draws': 6, 'losses': 9}
{'goals': 19, 'goalsAgainst': 31, 'wins': 4, 'draws': 6, 'losses': 9}
{'goals': 24, 'goalsAgainst': 42, 'wins': 3, 'draws': 6, 'losses': 10}
{'goals': 17, 'goalsAgainst': 33, 'wins': 4, 'draws': 2, 'losses': 13}
{'goals': 10, 'goalsAgainst': 29, 'wins': 2, 'draws': 5, 'losses': 12}
{'goals': 12, 'goalsAgainst': 33, 'wins': 3, 'draws': 5, 'losses': 11}
{'goals': 17, 'goalsAgainst': 30, 'wins': 3, 'draws': 8, 'losses': 8}
{'goals': 11, 'goalsAgainst': 32, 'wins': 2, 'draws': 6, 'losses': 11}
{'goals': 15, 'goalsAgainst': 38, 'wins': 2, 'draws': 7, 'losses': 10}
{'goals': 10, 'goalsAgainst': 27, 'wins': 3, 'draws': 4, 'losses': 12}

In [34]:
import pandas as pd
from bs4 import BeautifulSoup
import bs4
import requests

In [70]:
team_dict = {}

url = 'https://www.fctables.com/england/premier-league/2017_2018/'
r  = requests.get(url)
soup = BeautifulSoup(r.text, 'html5lib') 
# Note: html5lib deals better with broken html than lxml

for td in soup.findAll('td', { 'class' : 'tl' }):
    rank = int(td.text)
    res = [i.text for i in td.next_siblings if isinstance(i, bs4.element.Tag) and i.text!='\xa0']
    team_name = res[0].strip()
    values = [int(i) for i in res[1:]]
    team_dict[team_name] = [rank] + values

ValueError: invalid literal for int() with base 10: '\n                 Manchester City\n                \n                            '

In [77]:
td.contents

['\n                ',
 <img alt="Manchester City" height="18" src="https://static.fctables.com/upload/images/18x18/ti/tiq2j57b477c873db0/manchester-city.png" width="18"/>,
 ' ',
 <a href="/teams/manchester-city-189570/" title="Manchester City Stats">Manchester City</a>,
 '\n                \n                            ']

In [69]:
soup.findAll('td', { 'class' : 'tl' })[0].ipy

<td class="tl">
                <img alt="Manchester City" height="18" src="https://static.fctables.com/upload/images/18x18/ti/tiq2j57b477c873db0/manchester-city.png" width="18"/> <a href="/teams/manchester-city-189570/" title="Manchester City Stats">Manchester City</a>

                            </td>

In [58]:
team_dict = {}

url = 'http://www.espnfc.com/barclays-premier-league/23/table'
r  = requests.get(url)
soup = BeautifulSoup(r.text, 'html5lib') 
# Note: html5lib deals better with broken html than lxml

for td in soup.findAll('td', { 'class' : 'pos' }):
    rank = int(td.text)
    res = [i.text for i in td.next_siblings if isinstance(i, bs4.element.Tag) and i.text!='\xa0']
    team_name = res[0].strip()
    values = [int(i) for i in res[1:]]
    team_dict[team_name] = [rank] + values

In [62]:
soup.findAll('td', { 'class' : 'pos' })

[<td class="pos">1</td>,
 <td class="pos">2</td>,
 <td class="pos">3</td>,
 <td class="pos">4</td>,
 <td class="pos">5</td>,
 <td class="pos">6</td>,
 <td class="pos">7</td>,
 <td class="pos">8</td>,
 <td class="pos">9</td>,
 <td class="pos">10</td>,
 <td class="pos">11</td>,
 <td class="pos">12</td>,
 <td class="pos">13</td>,
 <td class="pos">14</td>,
 <td class="pos">15</td>,
 <td class="pos">16</td>,
 <td class="pos">17</td>,
 <td class="pos">18</td>,
 <td class="pos">19</td>,
 <td class="pos">20</td>]

In [65]:
soup.findAll('td')[1]

<td class="team">
													<a href="http://www.espnfc.com/football/club/_/id/359">Arsenal</a>
												</td>

In [79]:
import bs4 as bs
import urllib.request

source = urllib.request.urlopen('https://www.fctables.com/england/premier-league/2017_2018/').read()
soup = bs.BeautifulSoup(source,'html5lib')

In [80]:
table = soup.table

In [81]:
table_rows = table.find_all('tr')

In [82]:
for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    print(row)

[]
['1', '\n                 Manchester City\n                \n                            ', '38', '100', '32', '4', '2', '106', '27', '79', '\n                                    W\nW\nD\nW\nW\nW\nL\nW\nW\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['2', '\n                 Manchester United\n                \n                            ', '38', '81', '25', '6', '7', '68', '28', '40', '\n                                    W\nD\nL\nW\nW\nL\nW\nW\nW\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['3', '\n                 Tottenham\n                \n                            ', '38', '77', '23', '8', '7', '74', '36', '38', '\n                                    W\nW\nL\nW\nD\nL\nW\nW\nW\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['4', '\n                 Liverpool\n                \n                            ', '38', '75', '21', '12', '5', '84', '38', '46', '\n                                    W\nL\nD\nD\nW\nD\nW\nW\nL\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['5', '\n                 Chelsea\n                \n                            ', '38', '70', '21', '7', '10', '62', '38', '24', '\n                                    L\nD\nW\nW\nW\nW\nD\nL\nW\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['6', '\n                 Arsenal\n                \n                            ', '38', '63', '19', '6', '13', '74', '51', '23', '\n                                    W\nL\nW\nL\nW\nL\nW\nW\nW\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['7', '\n                 Burnley\n                \n                            ', '38', '54', '14', '12', '12', '36', '39', '-3', '\n                                    L\nL\nD\nD\nL\nW\nW\nW\nW\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['8', '\n                 Everton\n                \n                            ', '38', '49', '13', '10', '15', '44', '58', '-14', '\n                                    L\nD\nW\nW\nD\nD\nL\nW\nW\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['9', '\n                 Leicester\n                \n                            ', '38', '47', '12', '11', '15', '56', '60', '-4', '\n                                    L\nW\nL\nL\nD\nL\nL\nW\nW\nD\n                            ', '\n                                \n                            ', '\n                \n            ']
['10', '\n                 Newcastle United\n                \n                            ', '38', '44', '12', '8', '18', '39', '47', '-8', '\n                                    W\nL\nL\nL\nL\nW\nW\nW\nW\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['11', '\n                 Crystal Palace\n                \n                            ', '38', '44', '11', '11', '16', '45', '55', '-10', '\n                                    W\nW\nW\nD\nW\nD\nL\nW\nL\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['12', '\n                 Bournemouth\n                \n                            ', '38', '44', '11', '11', '16', '45', '61', '-16', '\n                                    W\nW\nL\nL\nL\nD\nD\nW\nL\nD\n                            ', '\n                                \n                            ', '\n                \n            ']
['13', '\n                 West Ham\n                \n                            ', '38', '42', '10', '12', '16', '48', '68', '-20', '\n                                    W\nD\nW\nL\nL\nD\nD\nW\nL\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['14', '\n                 Watford\n                \n                            ', '38', '41', '11', '8', '19', '44', '64', '-20', '\n                                    L\nW\nL\nD\nL\nL\nD\nL\nL\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['15', '\n                 Brighton\n                \n                            ', '38', '40', '9', '13', '16', '34', '54', '-20', '\n                                    L\nL\nW\nD\nD\nL\nD\nL\nL\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['16', '\n                 Huddersfield\n                \n                            ', '38', '37', '9', '10', '19', '28', '58', '-30', '\n                                    L\nD\nD\nL\nW\nD\nL\nL\nD\nL\n                            ', '\n                                \n                            ', '\n                \n            ']
['17', '\n                 Southampton\n                \n                            ', '38', '36', '7', '15', '16', '37', '56', '-19', '\n                                    L\nW\nD\nW\nD\nL\nL\nL\nL\nD\n                            ', '\n                                \n                            ', '\n                \n            ']
['18', '\n                 Swansea\n                \n                            ', '38', '33', '8', '9', '21', '28', '56', '-28', '\n                                    L\nL\nL\nL\nL\nD\nD\nL\nD\nW\n                            ', '\n                                \n                            ', '\n                \n            ']
['19', '\n                 Stoke\n                \n                            ', '38', '33', '7', '12', '19', '35', '68', '-33', '\n                                    W\nL\nD\nD\nD\nL\nL\nL\nL\nD\n                            ', '\n                                \n                            ', '\n                \n            ']
['20', '\n                 West Bromwich Albion\n                \n                            ', '38', '31', '6', '13', '19', '31', '56', '-25', '\n                                    L\nW\nW\nD\nW\nD\nL\nL\nL\nL\n                            ', '\n                                \n                            ', '\n                \n            ']

In [14]:
import io
import requests
import pandas as pd 

def Table_parser(league):
#     'https://www.fctables.com/england/premier-league/2017_2018/'
#      https://www.fctables.com/italy/serie-a/
    dfs = pd.read_html(requests.get(league).text,header=0)
    table = dfs[0]
    table.set_index('Team', inplace=True)
    table_dict = table.T.to_dict('list')
    return table_dict

In [33]:
sa = Table_parser('https://www.fctables.com/italy/serie-a/')
epl = Table_parser('https://www.fctables.com/england/premier-league/')

In [11]:
import pandas as pd
dfs = pd.read_html(requests.get('https://www.fctables.com/italy/serie-a/').text, header=0)

In [13]:
dfs[0]

     #        Team  GP  PTS  W  D  L  G+  G-  GD  Form  NG  H2H
0    1      Empoli   0    0  0  0  0   0   0   0   NaN NaN  NaN
1    2    Atalanta   0    0  0  0  0   0   0   0   NaN NaN  NaN
2    3     Bologna   0    0  0  0  0   0   0   0   NaN NaN  NaN
3    4    Cagliari   0    0  0  0  0   0   0   0   NaN NaN  NaN
4    5       Genoa   0    0  0  0  0   0   0   0   NaN NaN  NaN
5    6   Frosinone   0    0  0  0  0   0   0   0   NaN NaN  NaN
6    7      Chievo   0    0  0  0  0   0   0   0   NaN NaN  NaN
7    8    AC Milan   0    0  0  0  0   0   0   0   NaN NaN  NaN
8    9  Fiorentina   0    0  0  0  0   0   0   0   NaN NaN  NaN
9   10       Inter   0    0  0  0  0   0   0   0   NaN NaN  NaN
10  11    Juventus   0    0  0  0  0   0   0   0   NaN NaN  NaN
11  12       Lazio   0    0  0  0  0   0   0   0   NaN NaN  NaN
12  13        Roma   0    0  0  0  0   0   0   0   NaN NaN  NaN
13  14   Sampdoria   0    0  0  0  0   0   0   0   NaN NaN  NaN
14  15  SSC Napoli   0    0  0  0  0   0   0   0   NaN NaN  NaN
15  16   SSD Parma   0    0  0  0  0   0   0   0   NaN NaN  NaN
16  17      Torino   0    0  0  0  0   0   0   0   NaN NaN  NaN
17  18     Udinese   0    0  0  0  0   0   0   0   NaN NaN  NaN
18  19    Sassuolo   0    0  0  0  0   0   0   0   NaN NaN  NaN
19  20   SPAL 2013   0    0  0  0  0   0   0   0   NaN NaN  NaN

In [23]:
sean = ['Juventus', 'Torino', 'Everton', 'Cagliari', 'Bournemouth']
farhan = ['Frosinone', 'Sassuolo', 'Tottenham', 'Chelsea', 'Genoa']
sarah = ['Atalanta', 'Burnley', 'Udinese', 'Chievo', 'Manchester City' ]
anooj = ['SSC Napoli', 'West Ham','Crystal Palace', 'Bologna', 'Huddersfield']
roham = ['Fiorentina', 'Sampdoria', 'Liverpool', 'Watford', 'Brighton']
alex = ['SSD Parma', 'Manchester United', 'AC Milan', 'Wolverhampton Wanderers', 'Empoli']
omeid = ['Lazio', 'Inter', 'Southampton', 'Fulham', 'Cardiff']
ricardo = ['Roma', 'Leicester', 'Arsenal','Newcastle United' ,'SPAL 2013']

In [46]:
def Calculate_points(epl_dict, seriea_dict):
    
    leagues_dict = {}
    for d in [epl_dict, seriea_dict]:
        leagues_dict.update(d)
    
    teams = {'Sean': ['Juventus', 'Torino', 'Everton', 'Cagliari', 'Bournemouth'],
            'Roham': ['Fiorentina', 'Sampdoria', 'Liverpool', 'Watford', 'Brighton'],
            'Omeid': ['Lazio', 'Inter', 'Southampton', 'Fulham', 'Cardiff'],
            'Farhan': ['Frosinone', 'Sassuolo', 'Tottenham', 'Chelsea', 'Genoa'],
            'Anooj': ['SSC Napoli', 'West Ham','Crystal Palace', 'Bologna', 'Huddersfield'],
            'Sarah': ['Atalanta', 'Burnley', 'Udinese', 'Chievo', 'Manchester City' ],
            'Ricardo': ['Roma', 'Leicester', 'Arsenal','Newcastle United' ,'SPAL 2013'],
            'Alex': ['SSD Parma', 'Manchester United', 'AC Milan', 'Wolverhampton Wanderers', 'Empoli']}
    leaderboard_dict = {}
    for name in teams:
        gp = int(0)
        pts = int(0)
        w = int(0)
        d = int(0)
        l = int(0)
        gd = int(0)
        for team in teams[name]:
            values = leagues_dict[team]
            gp += values[1]
            pts += values[2]
            w += values[3]
            d += values[4]
            l += values[5]
            gd += values[8]
            
        leaderboard_dict[name] = [gp, pts, w, d, l, gd]
        
    return leaderboard_dict

In [50]:
import pandas as pd
r = Calculate_points(epl,sa)
k = pd.DataFrame.from_dict(r, orient='index')
k.columns= ['GP','PTS','W','D','L','GD']
k.sort_values(by=['PTS', 'GD'], ascending=False)
k.astype(int)

         GP  PTS  W  D  L  GD
Sean      0    0  0  0  0   0
Roham     0    0  0  0  0   0
Omeid     0    0  0  0  0   0
Farhan    0    0  0  0  0   0
Anooj     0    0  0  0  0   0
Sarah     0    0  0  0  0   0
Ricardo   0    0  0  0  0   0
Alex      0    0  0  0  0   0

In [51]:
k.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>GP</th>\n      <th>PTS</th>\n      <th>W</th>\n      <th>D</th>\n      <th>L</th>\n      <th>GD</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Sean</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Roham</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Omeid</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Farhan</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Anooj</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Sarah</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Ricardo</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n    <tr>\n      <th>Alex</th>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n      <td>0.0</td>\n    </tr>\n  </tbody>\n</table>'

In [63]:
def Leaderboard():
    
    
    #     'https://www.fctables.com/england/premier-league/2017_2018/'
#      https://www.fctables.com/italy/serie-a/
    dfs_epl = pd.read_html(requests.get('https://www.fctables.com/england/premier-league/').text,header=0)
    table_epl = dfs_epl[0]
    table_epl.set_index('Team', inplace=True)
    table_epl_dict = table_epl.T.to_dict('list')
    
    dfs_sa = pd.read_html(requests.get('https://www.fctables.com/italy/serie-a/').text,header=0)
    table_sa = dfs_sa[0]
    table_sa.set_index('Team', inplace=True)
    table_sa_dict = table_sa.T.to_dict('list')
    
    
    leagues_dict = {}
    for d in [table_epl_dict, table_sa_dict]:
        leagues_dict.update(d)
    
    teams = {'Sean': ['Juventus', 'Torino', 'Everton', 'Cagliari', 'Bournemouth'],
            'Roham': ['Fiorentina', 'Sampdoria', 'Liverpool', 'Watford', 'Brighton'],
            'Omeid': ['Lazio', 'Inter', 'Southampton', 'Fulham', 'Cardiff'],
            'Farhan': ['Frosinone', 'Sassuolo', 'Tottenham', 'Chelsea', 'Genoa'],
            'Anooj': ['SSC Napoli', 'West Ham','Crystal Palace', 'Bologna', 'Huddersfield'],
            'Sarah': ['Atalanta', 'Burnley', 'Udinese', 'Chievo', 'Manchester City' ],
            'Ricardo': ['Roma', 'Leicester', 'Arsenal','Newcastle United' ,'SPAL 2013'],
            'Alex': ['SSD Parma', 'Manchester United', 'AC Milan', 'Wolverhampton Wanderers', 'Empoli']}
    leaderboard_dict = {}
    for name in teams:
        gp = int(0)
        pts = int(0)
        w = int(0)
        d = int(0)
        l = int(0)
        gd = int(0)
        for team in teams[name]:
            for table_team_name in leagues_dict:
                if team in table_team_name:
                    
                    values = leagues_dict[table_team_name]
                    gp += values[1]
                    pts += values[2]
                    w += values[3]
                    d += values[4]
                    l += values[5]
                    gd += values[8]
            
        leaderboard_dict[name] = [gp, pts, w, d, l, gd]
        
        
        
        
    leaderboard_df = pd.DataFrame.from_dict(leaderboard_dict, orient='index')
    leaderboard_df.columns= ['GP','PTS','W','D','L','GD']
    leaderboard_df = leaderboard_df.sort_values(by=['PTS', 'GD'], ascending=False)
    leaderboard_df = leaderboard_df.astype(int)
    
    return leaderboard_df

In [65]:
Leaderboard()

         GP  PTS  W  D  L  GD
Farhan    2    6  2  0  0   4
Sean      2    6  2  0  0   3
Roham     2    3  1  0  1   0
Alex      2    3  1  0  1   0
Anooj     2    3  1  0  1  -1
Sarah     0    0  0  0  0   0
Ricardo   2    0  0  0  2  -2
Omeid     2    0  0  0  2  -4

In [66]:
dfs_epl = pd.read_html(requests.get('https://www.fctables.com/england/premier-league/').text,header=0)
table_epl = dfs_epl[0]
table_epl

,#,Team,GP,PTS,W,D,L,G+,G-,GD,Form,NG,H2H
0,1,Chelsea,1,3,1,0,0,3,0,3,W,NaN,NaN
1,2,Watford,1,3,1,0,0,2,0,2,W,NaN,NaN
2,3,Crystal Palace,1,3,1,0,0,2,0,2,W,NaN,NaN
3,4,Bournemouth,1,3,1,0,0,2,0,2,W,NaN,NaN
4,5,Tottenham,1,3,1,0,0,2,1,1,W,NaN,NaN
5,6,Manchester United,1,3,1,0,0,2,1,1,W,NaN,NaN
6,7,Everton 0-1,1,3,1,0,0,1,0,1,NaN,NaN,NaN
7,8,Arsenal,0,0,0,0,0,0,0,0,NaN,NaN,NaN
8,9,Burnley,0,0,0,0,0,0,0,0,NaN,NaN,NaN
9,10,Liverpool,0,0,0,0,0,0,0,0,NaN,NaN,NaN
10,11,West Ham,0,0,0,0,0,0,0,0,NaN,NaN,NaN
11,12,Southampton,0,0,0,0,0,0,0,0,NaN,NaN,NaN
12,13,Manchester City,0,0,0,0,0,0,0,0,NaN,NaN,NaN
13,14,Newcastle United,1,0,0,0,1,1,2,-1,L,NaN,NaN
14,15,Wolverhampton Wanderers 0-1,1,0,0,0,1,0,1,-1,NaN,NaN,NaN
15,16,Leicester,1,0,0,0,1,1,2,-1,L,NaN,NaN
16,17,Fulham,1,0,0,0,1,0,2,-2,L,NaN,NaN
17,18,Brighton,1,0,0,0,1,0,2,-2,L,NaN,NaN
18,19,Cardiff,1,0,0,0,1,0,2,-2,L,NaN,NaN
19,20,Huddersfield,1,0,0,0,1,0,3,-3,L,NaN,NaN